

*{
    padding: 0;
    margin: 0;
 
}

@font-face {
    font-family: 'webfontregular';
    src:
         url('fonts/Atkinson-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #2d2d2d;
    color: white;

    font-family: 'webfontregular';

}

.weer{
    background-color: #B33F40;
    float: left;
    height: 75vh;
    font-size: 4em;
    width: 3em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: none;
    color: white;
    border-radius:0  20%  20%  0  ;
    padding-right: 2em;
    padding-top: 25vh;
}

.nieuws{
    background-color: #3FB378 ;
    float: right;
    height: 75vh;
    font-size: 4em;
    width: 3em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: none;
    color: white;
    border-radius:  20% 0 0 20%    ;
    padding-right: 2em;
    padding-top: 25vh;
}

.terug{
    background-color: #B33F40 ;
    float: right;
    height: 75vh;
    font-size: 4em;
    width: 3em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: none;
    color: white;       
    border-radius:  20% 0 0 20%    ;
    padding-right: 2em;
    padding-top: 25vh;
    position: fixed;
    right: 0;
}


.header{
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #3F7AB3;
}

.terug:focus, 
.weer:focus,
.nieuws:focus{
    background-color: #3F7AB3;
}

.terug:hover,
.nieuws:hover,
.weer:hover{
    background-color: #3F7AB3 ;
}


svg{
    fill: #3F7AB3;
    max-width: 200px;
    margin-left: 1em;
}

table{
    margin: 0 auto;
}

table{
    float: left;
    text-align: left;
    font-size: 3em;
}

td, th{
    max-width: 400px;
}

td{
    margin-left: 10%;
}